<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="braingame.amax.mybase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  Список активити /-->
        <activity
            android:name=".Controllers.ActivityWords"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Controllers.ActivityRegistration"
            android:label="ActivityRegistration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityVerify"
            android:label="ActivityVerify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityVerifyCongrad"
            android:label="ActivityVerifyCongrad"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".Controllers.ActivityMenu"
            android:label="ActivityMenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityGrammar"
            android:label="ActivityGrammar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityPhraseVerb"
            android:label="ActivityPhraseVerb"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivitySentens"
            android:label="ActivitySentens"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityStatistic"
            android:label="ActivityStatistic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

<!--        <activity-->
<!--            android:name=".Controllers.ActivityWords"-->
<!--            android:label="ActivityWords"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:windowSoftInputMode="adjustResize" />-->

        <activity
            android:name=".Controllers.ActivityWordsAdd"
            android:label="ActivityWordsAdd"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityWordsEnRu"
            android:label="ActivityWordsEnRu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".Controllers.ActivityWordsRuEn"
            android:label="ActivityWordsRuEn"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


    </application>

</manifest>